*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.container {
    width: 80%;
    margin: auto;
}

.hero-wrapper {
    padding: 175px 0;
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-wrapper:before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: .5;
    position: absolute;
    z-index: 0;
}

.hero-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;

}


.hero-container {
    width: 825px;
    margin: auto;
}

.hero-headding h2 {
    font-size: 65px;
    line-height: auto;
    color: #fff;
    margin-bottom: 20px;
    
}

.hero-desc p {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
    padding: 0 90px;
}

.hero-btn a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: auto;
    padding: 16px 20px;
    background-color: #FF5959;
    border-radius: 5px;
}


/* Hero Section End */

/* Section Heading */

.section-headding-wrapper {
    width: 825px;
    margin: auto;
    text-align: center;
}

.section-title h2 {
    color: #121212;
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.section-desc p {
    font-size: 18px;
    line-height: 28px;
    color: #4a4a4a;
    padding: 0 90px;
    margin-bottom: 50px;
}

/* Section Headding End */


.donate-form-wrapper {
    padding: 100px 0;
    background-color: #f9f9f9;
}

.donate-form-content-wrapper {
    width: 825px;
    margin: auto;
}

.form-amount-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.amount-item {
    width: 115px;
    padding: 44px 10px;
    text-align: center;
    background-color: #f3f3f3;
}

.amount-item.active {
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
    color: #FF5959;
}

.custom-amount-input input {
    border: none;
    border-bottom: 1px solid #DADADA;
    width: 100%;
    background: transparent;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    padding: 10px;
    margin-bottom: 30px;
}


.submit-btn input {
    display: block;
    margin: auto;
    padding: 16px 20px;
    text-align: center;
    background-color: #FF5959;
    border: 2px solid #FF5959;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}